<!DOCTYPE html>
<html>
<head>
	<title>Black Jack</title>
	<link rel="stylesheet" href="static/css/style.css">
	<link rel="stylesheet" href="static/css/custom_style.css">
	<link rel="stylesheet" href="static/css/blackjack.css">
	<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.dev.js"></script>
</head>
<body>
	<input type="text" id="username_store" value="{{ username }}" style="display: none;">
	<input type="number" id="coins_store" value="{{ coins }}" style="display: none;">

	<div class="control_panel round-shadow">
		<h3>CSIE Online Games --- Black Jack</h3>
      	<h4>User: {{ username }} <br><span id="user_coins">Coins: {{ coins }}</span></h4>
      	<form id = "start" method="POST" action="#">
	        <input type="number" min="5" value="5" name="bet" id="bet" placeholder="How many coins to bet?">
	        <input type="submit" value="Start">
    	</form>
	</div>
	<div class="card-table"></div>
	<div class="dealer_cards cards" id="dealer">
		<img src="static/images/cards/gray_back.png" class="show_card" style="display: none;" id="example-card"> 
	</div>
	<div class="table_cards cards" id="player">
		<!-- <img src="static/images/cards/gray_back.png" class="show_card"> -->
	</div>
	<div class="take-stop-container cards" style="left: 0px;">
		<form id = "take" method="POST" action="#">
			<input type="submit" value="Take" class="form-submit take-stop" disabled style="float: right;">
		</form>
	</div>
	<div class="take-stop-container cards" style="right: 0px;">
		<form id = "stop" method="POST" action="#">
			<input type="submit" value="Stop" class="form-submit take-stop" disabled style="background-color: red; float: left;">
		</form>
	</div>



	
	<script type="text/javascript" src="static/js/blackjack.js"></script>
</body>
</html>