<!DOCTYPE html>
<meta charset="UTF-8">
<title>CSIE Online Games</title>

<html>
<div id="head">
  <h1>CSIE Online Games --- Main Menu</h1>
  <h4>Welcome, {{ username }}.    Your coins: {{ coins }}.</h4>
  
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class=flashes>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}

</div>

<div id="menu">
  <a href="/slot">
    <button>Play Slots</button>
  </a><br>
  <a href="/blackjack">
    <button>Play Blackjack</button>
  </a><br>
  <a href="/texas_findplayers">
    <button>Play Texas hold'em poker</button>
  </a><br>
  <a href="/member_center">
    <button>Manage account</button>
  </a><br>
  <a href="/logout">
    <button>Log out</button>
  </a>
</div>

</html>
