<!DOCTYPE html>
<meta charset="UTF-8">
<title>CSIE Online Games</title>

<html>
<div id="head">
  <h1>CSIE Online Games --- Member Center</h1>
  <h4>User: {{ username }} <br> Coins: {{ coins }}</h4>
</div>

<div id="manage">
  <h3>Change Username</h3>
  <form action="/member_center" method="post" id="change-username">
    <input type="text" required autocomplete="off" name="new-username"/>
    <button type="submit">Change</button>
  </form>

  <h3>Change Password</h3>
  <form action="/member_center" method="post" id="change-username">
    <label>Old password</label>
    <input type="password" required autocomplete="off" name="old-passwd"/>
    <label>New password</label>
    <input type="password" required autocomplete="off" name="new-passwd"/>
    <label>Confirm new password</label>
    <input type="password" required autocomplete="off" name="new-passwd-confirm"/>
    <button type="submit">Change</button>
  </form>

  <h3>Top-up Coins</h3>
  <form action="/member_center" method="post" id="topup">
    <label>Enter your pre-issued serial number</label>
    <input type="text" required autocomplete="off" name="topup-serial-num"/>
    <button type="submit">Authenticate</button>
  </form>
  ~~ OR ~~ <br>
  <a href="/playad">
    <button>Watch An Ad</button>
  </a>
</div>

</html>
