<!DOCTYPE html>
<meta charset="UTF-8">
<title>CSIE Online Games: Slot Machine</title>

<html>
<div id="head">
  <h1>CSIE Online Games --- Slot Machine</h1>
  <h4>User: {{ username }} <br> Coins: {{ coins }}</h4>
  
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class=flashes>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}

</div>

<div id="rule">
  <h2>Rules</h2>
  <p>This game runs on a 3x3 slot machine. <br>
    Before each round of play, you should choose the single bet (at least 5 coins), and the number of paylines (1 to 3) to bet. 
    Payline #1 is the center row, #2 is the upper row, and #3 is the lower row. The prize money of each payline is determined by the pay table below.</p>
  <h2>Pay Table</h2>
  <p> <table style="width:10%"> <link rel="stylesheet" href="../flask/static/css/slot_rules.css"> 
  <tr>
    <th>Payoff</th>
    <th>Combination</th>
  </tr>
  <tr>
    <td>777x</td>
    <td><img src="../flask/static/images/slot_0.png" alt="PangFeng"><img src="../flask/static/images/slot_0.png" alt="PangFeng"><img src="../flask/static/images/slot_0.png" alt="PangFeng"></td>
  </tr>
  <tr>
    <td>100x</td>
    <td><img src="../flask/static/images/slot_1.png" alt="C"><img src="../flask/static/images/slot_1.png" alt="C"><img src="../flask/static/images/slot_1.png" alt="C"></td>
  </tr>
  <tr>
    <td>50x</td>
    <td><img src="../flask/static/images/slot_2.png" alt="Python"><img src="../flask/static/images/slot_2.png" alt="Python"><img src="../flask/static/images/slot_2.png" alt="Python"></td>
  </tr>
  <tr>
    <td>25x</td>
    <td><img src="../flask/static/images/slot_3.png" alt="C++"><img src="../flask/static/images/slot_3.png" alt="C++"><img src="../flask/static/images/slot_3.png" alt="C++"></td>
  </tr>
  <tr>
    <td>20x</td>
    <td><img src="../flask/static/images/slot_4.png" alt="Java"><img src="../flask/static/images/slot_4.png" alt="Java"><img src="../flask/static/images/slot_4.png" alt="Java"></td>
  </tr>
  <tr>
    <td>15x</td>
    <td><img src="../flask/static/images/slot_5.png" alt="Matlab"><img src="../flask/static/images/slot_5.png" alt="Matlab"><img src="../flask/static/images/slot_5.png" alt="Matlab"></td>
  </tr>
  <tr>
    <td>8x</td>
    <td><img src="../flask/static/images/slot_6.png" alt="JavaScript"><img src="../flask/static/images/slot_6.png" alt="JavaScript"><img src="../flask/static/images/slot_6.png" alt="JavaScript"></td>
  </tr>
  <tr>
    <td>4x</td>
    <td><img src="../flask/static/images/slot_1.png" alt="C"><img src="../flask/static/images/slot_1.png" alt="C"> or<br> <img src="../flask/static/images/slot_2.png" alt="Python"><img src="../flask/static/images/slot_2.png" alt="Python"></td>
  </tr>
  <tr>
    <td>2x</td>
    <td><img src="../flask/static/images/slot_3.png" alt="C++"><img src="../flask/static/images/slot_3.png" alt="C++"> or<br> <img src="../flask/static/images/slot_4.png" alt="Java"><img src="../flask/static/images/slot_4.png" alt="Java"> or<br> <img src="../flask/static/images/slot_5.png" alt="Matlab"><img src="../flask/static/images/slot_5.png" alt="Matlab"> or<br> <img src="../flask/static/images/slot_6.png" alt="JavaScript"><img src="../flask/static/images/slot_6.png" alt="JavaScript"></td>
  </tr>
</table> </p>
</div>

<div id="ready">
  <h2>Are You Ready?</h2>
  <a href="/slot_play">
    <button>Play!</button>
  </a>
  <a href="/main_menu">
    <button>Go back to main menu</button>
  </a>
</div>
